{% extends "base.html" %}

{% block contenido %}

{% if form.errors %}
<p>Usuario y/o contraseña incorrectos. Pruebe otra vez.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esa pagina, utilizar otro usuario y contraseña.</p>
    {% else %}
    <p>Por favor iniciar sesion.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'app_auth:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Autenticarse">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock contenido %}